@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
body {
  /* background-image: linear-gradient(
    to right,
    rgb(127, 123, 133),
    rgb(218, 165, 243)
  ); */
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
