@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
body {
  background-image: linear-gradient(
    to right,
    rgb(84, 197, 135),
    rgb(154, 190, 224)
  );
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
